body {
  background-image: url('./images/paris.avif');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.cajas {
  border: 2px solid white;
  position: relative;
  width: 40%;
  height: 280px;
  top: 60vh;
  left: 80vh;
}

.caja1 img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 150px;
  top: 48%;
  transform: rotate(20deg);
}

.caja2 img {
  width: 250px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.caja3 {
  width: 300px;
  height: 200px;
  position: absolute;
}

.caja4 {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 120px;
  color: white;
  right: 60px;
  bottom: 50px;
  border-radius: 5%;
}

.caja5 {
  background-color: red;
  color: white;
  width: 15vh;
  height: 70px;
  position: absolute;
  bottom: 39px;
  right: 70px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
}

.caja6 {
  background-color: rgb(102, 147, 236);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 20px;
  border-radius: 5%;
  position: absolute;
  bottom: 28px;
  right: 120px;
}
