body {
  background-image: url('./images/paris.avif');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.cajas {
  position: relative;
  width: 40%;
  height: 280px;
  top: 60vh;
  left: 80vh;
}

.caja__circle {

}

.caja1 img {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 150px;
  top: 48%;
  transform: rotate(20deg);
}


.caja3 {
  width: 300px;
  height: 200px;
  position: absolute;
}

.caja4 {
  background-color: blue;
  position: absolute;
  width: 100px;
  height: 120px;
  color: white;
  right: 60px;
  bottom: 50px;
  border-radius: 5%;
}

.caja5 {
  background-color: red;
  color: white;
  width: 15vh;
  height: 70px;
  position: absolute;
  bottom: 39px;
  right: 70px;
  border-radius: 5%;
  display: flex;
  justify-content: center;
}

.caja6 {
  background-color: rgb(102, 147, 236);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 20px;
  border-radius: 5%;
  position: absolute;
  bottom: 28px;
  right: 120px;
}

.caja__torre img {
  width: 280px;
  height: 110px;
  position: absolute;
  bottom: 0;
  left: 45vh;
  filter: drop-shadow(10px 5px 5px black);
}

.caja__circle {
  background: linear-gradient(rgb(185, 11, 11), rgb(87, 86, 86));
  position: absolute;
  width: 80px;
  height: 40px;
  border-radius: 50px 50px 0px 0px;
  right: 18vh;
  top: 30vh;
}

.caja__circle-blu {
  background: linear-gradient(rgb(6, 47, 94), rgb(5, 63, 110));
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  left: 58vh;
  bottom: 20px;
}
